/nbproject/private/
/nbproject/
test*
config_appli.ini*
/config/config_appli.ini
/config/config_appli.crypt
/config/eric@aboudaram.net.ini
/config/eric@aboudaram.net.key
/config/eric@aboudaram.net.ini.enc